.App {
  background-color: #147a37;
  color: white;
  width: 100%;
  margin: auto;
  display: inline-block;
  font-family: Arial;
  overflow-x: hidden;

}


.First, .Second{
  width: 50%;
  float: left;

}

.App  button{
  background-color:rebeccapurple;
  padding:5px 15px;
  color: white;
  border: none;
  margin: 10px;
}


